<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/cart-styles.css">
    <title>Trinkets-register</title>
</head>
<body>
    <header></header>
    <main>
        <div class="form-container">
            <div class="title-container">
                <h2 class="main-title-form">Carrito</h2>
                <h4 class="main-title-price">Precio</h4>                
            </div>

            <form action="POST" >
                <div class="form">
                    <div class="form-input">
    
                        <input type="checkbox" id="product2" value="product1" class="input-checkbox">         
                        <label for="product2"class="input-label">

                            <img src="./img/products/sombrero-tango-tipo-lino.jpg" alt="imagen de producto">

                            <div class="description">
                                <h5>Nombre de producto</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ullam delectus magnam natus iusto harum dolorem ipsum.</p>
                            </div>
                            

                            <div class="price-number-button-container">
                                <p>$444</p>
                                <button type="reset" class="secondary-button eliminate-button">Eliminar</button>
                            </div>

                        </label>
                             
                    </div>


                    <div class="form-input">
    
                        <input type="checkbox" id="product3" value="product1" class="input-checkbox">         
                        <label for="product3"class="input-label">

                            <img src="./img/products/sombrero-tango-tipo-lino.jpg" alt="imagen de producto">

                            <div class="description">
                                <h5>Nombre de producto</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ullam delectus magnam natus iusto harum dolorem ipsum.</p>
                            </div>
                            

                            <div class="price-number-button-container">
                                <p>$444</p>
                                <button type="reset" class="secondary-button eliminate-button">Eliminar</button>
                            </div>

                        </label>
                             
                    </div>



                    <div class="form-input">
    
                        <input type="checkbox" id="product1" value="product1" class="input-checkbox">         
                        <label for="product1"class="input-label">

                            <img src="./img/products/sombrero-tango-tipo-lino.jpg" alt="imagen de producto">

                            <div class="description">
                                <h5>Nombre de producto</h5>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ullam delectus magnam natus iusto harum dolorem ipsum.</p>
                            </div>
                            

                            <div class="price-number-button-container">
                                <p>$444</p>
                                <button type="reset" class="secondary-button eliminate-button">Eliminar</button>
                            </div>

                        </label>
                             
                    </div>

                </div>
                    
                    

                    
                <button type="submit" class="main-button">Comprar</button>   
            </form>  
       
        </div>


    </main>
    <footer></footer>
</body>
</html>