
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/normalize.css"

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

    <title>Trinkets</title>
</head>
<body>
    <header class="main-header">
        <section class="main-header__top">
            <div class="main-header_logo">
            <img src="img/logo/trinKets - logo reves sin baseline.png" alt="Logo - trinKets">
            </div>
            <nav>
                <ul>
                    <li>Registrarse</li>
                    <li>Login</li>
                </ul>
            </nav>               
        </section>

        
        <form action="">
        <select name="" id="">
            <option value="">Todos</option>
            <option value="">Coleccionables</option>
            <option value="">Artesanias</option>
            <option value="">De interior</option>
            <option value="">De jardin</option>
            <option value="">Arte</option>
        </select>
        <input type="text" placeholder="Buscar...">
        <button type="submit"><img src="./icons/search-solid.svg" alt=""></button>            
        </form>

<div class="main-header_menu">
        <nav>
            <ul>
                <li>Mas buscados</li>
                <li>Ofertas</li>
                <li>Subastas</li>
                <li>Coleccionables</li>
            </ul>
        </nav>
</div>
    </header>
    <main>

        <section>
            <article>
                <h3>Producto Ejemplo</h3>
                <img src="http://http2.mlstatic.com/D_668614-MLA25977278416_092017-II.jpg" alt="Imagen de producto ejemplo">
                <div>
                    <a href="">#HashtagEjemplo1</a>
                    <a href="">#HashtagEjemplo2</a>
                    <a href="">#HashtagEjemplo3</a>
                </div>
            </article>
            <article>
                <h3>Producto Ejemplo2</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Trident_Maple_bonsai_202%2C_October_10%2C_2008.jpg/300px-Trident_Maple_bonsai_202%2C_October_10%2C_2008.jpg" alt="Imagen de producto ejemplo">
                <div>
                    <a href="">#HashtagEjemplo1</a>
                    <a href="">#HashtagEjemplo2</a>
                    <a href="">#HashtagEjemplo3</a>
                </div>
            </article>
            <article>
                <h3>Producto Ejemplo</h3>
                <img src="http://http2.mlstatic.com/D_668614-MLA25977278416_092017-II.jpg" alt="Imagen de producto ejemplo">
                <div>
                    <a href="">#HashtagEjemplo1</a>
                    <a href="">#HashtagEjemplo2</a>
                    <a href="">#HashtagEjemplo3</a>
                </div>
            </article>
            <article>
                <h3>Producto Ejemplo2</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Trident_Maple_bonsai_202%2C_October_10%2C_2008.jpg/300px-Trident_Maple_bonsai_202%2C_October_10%2C_2008.jpg" alt="Imagen de producto ejemplo">
                <div>
                    <a href="">#HashtagEjemplo1</a>
                    <a href="">#HashtagEjemplo2</a>
                    <a href="">#HashtagEjemplo3</a>
                </div>
            </article>
            <article>
                <h3>Producto Ejemplo</h3>
                <img src="http://http2.mlstatic.com/D_668614-MLA25977278416_092017-II.jpg" alt="Imagen de producto ejemplo">
                <div>
                    <a href="">#HashtagEjemplo1</a>
                    <a href="">#HashtagEjemplo2</a>
                    <a href="">#HashtagEjemplo3</a>
                </div>
            </article>
            <article>
                <h3>Producto Ejemplo2</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Trident_Maple_bonsai_202%2C_October_10%2C_2008.jpg/300px-Trident_Maple_bonsai_202%2C_October_10%2C_2008.jpg" alt="Imagen de producto ejemplo">
                <div>
                    <a href="">#HashtagEjemplo1</a>
                    <a href="">#HashtagEjemplo2</a>
                    <a href="">#HashtagEjemplo3</a>
                </div>
            </article>
            <article>
                <h3>Producto Ejemplo</h3>
                <img src="http://http2.mlstatic.com/D_668614-MLA25977278416_092017-II.jpg" alt="Imagen de producto ejemplo">
                <div>
                    <a href="">#HashtagEjemplo1</a>
                    <a href="">#HashtagEjemplo2</a>
                    <a href="">#HashtagEjemplo3</a>
                </div>
            </article>
            <article>
                <h3>Producto Ejemplo2</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Trident_Maple_bonsai_202%2C_October_10%2C_2008.jpg/300px-Trident_Maple_bonsai_202%2C_October_10%2C_2008.jpg" alt="Imagen de producto ejemplo">
                <div>
                    <a href="">#HashtagEjemplo1</a>
                    <a href="">#HashtagEjemplo2</a>
                    <a href="">#HashtagEjemplo3</a>
                </div>
            </article>
            <article>
                <h3>Producto Ejemplo</h3>
                <img src="http://http2.mlstatic.com/D_668614-MLA25977278416_092017-II.jpg" alt="Imagen de producto ejemplo">
                <div>
                    <a href="">#HashtagEjemplo1</a>
                    <a href="">#HashtagEjemplo2</a>
                    <a href="">#HashtagEjemplo3</a>
                </div>
            </article>
            <article>
                <h3>Producto Ejemplo2</h3>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Trident_Maple_bonsai_202%2C_October_10%2C_2008.jpg/300px-Trident_Maple_bonsai_202%2C_October_10%2C_2008.jpg" alt="Imagen de producto ejemplo">
                <div>
                    <a href="">#HashtagEjemplo1</a>
                    <a href="">#HashtagEjemplo2</a>
                    <a href="">#HashtagEjemplo3</a>
                </div>
            </article>
        </section>
    </main>
    
</body>
</html>