<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login-styles.css">
    <title>Trinkets-login</title>
</head>
<body>
    <header></header>
    <main>
        <div class="form-container">
            <h2 class="main-title-form">Para seguir ingresá tu mail y contraseña</h2>
            <form action="POST" class="form">
                <label for="email" class="input-label">Email</label>
                <input type="email" id="email" value="example@trinkets.com" class="input input-email">

                <label for="password" class="input-label">Contraseña</label>
                <input type="password" id="password" value="name..." class="input input-password" minlength="8" maxlength="24">

                <button type="submit" class="main-button">Entrar</button>
                <a href="">¿Olvidaste tu contraseña?</a>
            </form>            
        </div>


    </main>
    <footer></footer>
</body>
</html>