@import './colors.css';

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}


.form-container {
  padding: 8px;
}


.cart-title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-title-form {
  
  margin-left: 10px;
  margin-top: 20px;
  font-size: 2.4rem;
}
.main-title-price {
  
  margin-right: 10px;
  margin-top: 20px;
  font-size: 1.2rem;
}

.form-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--light-gray);
}

.input-checkbox {
  width: 20%;

}

.input-label {
  width:80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} */

.input-label img {
  width: 60%;
  max-width: 220px;
  margin: 0 auto;
}
/* 
.input-label .description {
  width: 55%;
}


.description h5 {
  font-size: 1.6rem;
}


.price-number-button-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price-number-button-container p,
.price-number-button-container button {
  text-align: center;
  margin: 4px;
}


.main-button {
  width: 60%;
  height: 4rem;
  font-size: 2.4rem;
  background-color: var(--highlighted);
  color: var(--white);
  display: block;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 32px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}    
    
.secondary-button {
 background-color: var(--light-gray);
 border: none;
 padding: 4px;
 border-radius: 5px;
}
 */

.main-cart-form {
  display: flex;
  flex-direction: column;
}

 .cart-productContainer {
   margin-bottom: 20px;
   border-bottom: 1px solid var(--medium-gray);
 }

.cart__imgycheck {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.cart-input-checkbox {
  width: 25%;
  /* font-size: 3rem; */
  transform: scale(2);
}


.cart-productDescription {
  margin-bottom: 15px;
}



.price-number-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-productPrice {
  display: flex;
  /* flex-wrap: wrap; */

}

.cart-eliminate-button {
  padding: 4px;
}


.main-cart-form .cart-main-button {
  max-width: 200px;
  font-weight: bold;
  height: 5rem;
}


/* @media (min-width: 768px) {
  .input-label img {
    max-width: 40%;
    margin: 0 auto;
  }
} */

@media (min-width: 992px) {

  .main-cart-form .cart-form {
    
    flex-direction: column;
    flex-wrap: wrap;
  }

  .cart-productContainer label{
    display: flex;
  }

  .price-number-button-container {
    flex-direction: column;
  }
  .cart-productPrice {
    flex-direction: column;
  }
}