@import './colors.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}


/* form-login */

body {
  background-color: var(--white);
}

.form-container {
  background-color: var(--light-gray);
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
  padding: 24px;
  box-shadow: 3px 3px 5px 1px var(--dark-gray);
}

.form {
  display: flex;
  flex-direction: column;
  
}


.main-title-form {
  font-size: 3.2rem;
  color: var(--black);
  margin: 0 0 42px 0;
  text-align: center;
}

.input-label {
  font-size: 1.8rem;
  color: var(--black);
  cursor: pointer;
}


.input {
  background-color: var(--white);
  width: 100%;
  height: 3.6rem;
  margin: auto;
  margin-bottom: 32px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 1.6rem;
  color: var(--black);
  cursor: pointer;
  
}

.input:hover {
  color:var(--highlighted)
}

.input-label:hover {
  color:var(--highlighted)
}


.main-button {
  width: 60%;
  height: 4rem;
  font-size: 2.4rem;
  background-color: var(--highlighted);
  color: var(--white);
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 32px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


form a {
  align-self: flex-end;
  color: var(--highlighted);
  font-size: 1.6rem;
  text-decoration: none;
}

form a:hover {
  text-decoration:underline;
}


.input-terms {
  font-size: 1.6rem;
  color: var(--black);
  text-align: center;
}

.input-terms:hover {
  color: var(--highlighted);
}

.input-terms label,
.input-terms input {
  cursor: pointer;
}




@media (min-width: 992px) {

  .form-container {
    
    max-width: 800px;
    
  }

  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .form-input {
    width: 45%;
  }
  .input-terms {
    align-self: center;
    text-align: right;
  }  
}





/* product-upload form */

.product__upload-form {
  align-items: center;

  padding: 15px;
}



.upload-form__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  margin: 15px 0;
}

.upload-form__input label {
  font-size: 2rem;
  font-weight: bold;

  margin-bottom: 4px;
}

.upload-form__input input,
.upload-form__input textarea,
.upload-form__input select {
  width: 100%;
  min-width: 260px;
  padding: 4px;
  
  background-color: var(--white);
  border: none;
  border-radius: 5px;

  font-size: 1.6rem;
  text-align: center;

  
}

.upload-form__input textarea {
  
  min-height: 200px;
  text-align: start;
}



.upload-form__button {
  min-width: 200px;
  padding: 12px 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--highlighted);
  color: var(--white);
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-form__input input:hover,
.upload-form__input textarea:hover,
.upload-form__input select:hover {
  color:var(--highlighted)
}
.upload-form__input label:hover {
  color:var(--highlighted)
}


@media (min-width: 425px) {
  .upload-form__input input,
.upload-form__input textarea,
.upload-form__input select {  
  min-width: 324px;
}

@media (min-width: 768px) {
  .upload-form__input input,
.upload-form__input textarea,
.upload-form__input select {  
  min-width: 500px;
  font-size: 2rem;
}

.upload-form__button {
  min-width: 240px;
  padding: 12px 0;
  font-size: 2.4rem;
  
}


}

}

@media (min-width: 992px) {
.upload-form__input textarea {  
  min-width: 671px;
  font-size: 2rem;
}

}