@import './colors.css';

/* sugiero que utilicemos multiplos de 4 para los tamaños de fuente y para las separaciones entre cajas. Como para que haya cierta coherencia en los tamaños */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
html {
  font-size: 62.5%;
  /* de esta forma 1 rem va a ser igual a 10px */
}

main {
  background-color: white; 
 }

/* header */

.main-header_logo {
  display: flexbox;
width: 20%;
}

.main-header_logo img {
width: 100%;
padding: 10px 0px 10px 40px;
}

.main-header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--highlighted);
 }

.main-header__top h1 {
  font-size: 3.2rem;
}



.main-header_topnav {
position: relative;
  background-color: var(--black);
  padding: 4px;
  font-weight: bold;
}

.main-header_topnav li {
  color: var(--white);
  padding: 3px 10px 3px 10px;
    }

.main-header_topnav li:hover {
  color: var(--soft-highlighted);
  }

  .main-header_topnav ul {
    display: flex;
    position:relative;
    left: 80%; 
    width: 20%;
    justify-content: right;
    padding-right: 4px;
    list-style: none;
    font-size: 1.3em;
    top: 1px;
      }

.main-header form {
  display: flex;
  justify-content: center;
}


.main-header form button {
  width: 2rem;
} 

.main-header_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--highlighted);
}

.main-header_menu li {
  display:inline-block;
  padding:5px 10px;
  text-align:center;
  color: var(--white);
  font-weight: bold;
  font-size: 2rem;
  }

.main-header_menu li:hover {
  color: var(--soft-highlighted);
 }


.main-header_search {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2em;
  background-color: var(--light-gray);
}

  .main-header_search input, button, select {
 border: none;
 padding-left: 5px;
  }

.main-header_search select {
    border-radius: 8px 0px 0px 8px;
     }

.main-header_search button {
      border-radius: 0px 8px 8px 0px;
      color: var(--white);
      background-color: var(--highlighted);
      font-size: 0.5em;
       }

.main-header_search button:hover {
background-color: var(--soft-highlighted);
color: var(--light-gray)
}

/* Main */

.main_productscontainer {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    box-sizing: border-box;
 }

.main_productoverview {
  background-color: var(--white);
  border-radius: 8px;
  
}

.main_productoverview h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--highlighted);
  text-align: left;
  padding-left: 10px;
}

.main_productoverview img{
  width: 250px;
 padding: 20px;
webkit-transition: all 1s ease; /* Safari y Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}


.main_productoverview:hover img {
/* zoom de 10% */
-webkit-transform:scale(1.1); /* Safari y Chrome */
-moz-transform:scale(1.1); /* Firefox */
-ms-transform:scale(1.1); /* Internet Explorer 9 */
-o-transform:scale(1.1); /* Opera */
transform:scale(1.1);
}

.main_productoverview button {
  background-color: var(--highlighted);
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--white);
  border-radius: 0px 0px 8px 8px;
}

.main_productoverview button:hover {
  font-weight: bold;
}

.main_productprice h2{
  padding-left: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

/* 

font awesom creditos

*/