@import './colors.css';

/* sugiero que utilicemos multiplos de 4 para los tamaños de fuente y para las separaciones entre cajas. Como para que haya cierta coherencia en los tamaños */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
html {
  font-size: 62.5%;
  /* de esta forma 1 rem va a ser igual a 10px */
}


/* header */

.main-header_logo {
  display: flexbox;
width: 20%;
}

.main-header_logo img {
width: 100%;
padding: 10px 0px 10px 40px;
}

.main-header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--highlighted);
  border: solid 5px yellow;
}

.main-header__top h1 {
  font-size: 3.2rem;
}



.main-header_topnav {
position: relative;
  background-color: var(--black);
  padding: 4px;
  font-weight: bold;
}

.main-header_topnav li {
  color: var(--white);
  padding: 3px 10px 3px 10px;
    }

.main-header_topnav li:hover {
  color: var(--soft-highlighted);
  }

  .main-header_topnav ul {
    display: flex;
    position:relative;
    left: 80%; 
    width: 20%;
    justify-content: right;
    padding-right: 4px;
    list-style: none;
    font-size: 1.3em;
    top: 1px;
      }

.main-header form {
  display: flex;
  justify-content: center;
}


.main-header form button {
  width: 2rem;
} 

.main-header_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--highlighted);
}

.main-header_menu li {
  display:inline-block;
  padding:5px 10px;
  text-align:center;
  color: var(--white);
  font-weight: bold;
  font-size: 2rem;
}

.main-header_menu li:hover {
  color: var(--soft-highlighted);
 }



/* 

font awesom creditos

*/