@import './colors.css';

/* sugiero que utilicemos multiplos de 4 para los tamaños de fuente y para las separaciones entre cajas. Como para que haya cierta coherencia en los tamaños */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
html {
  font-size: 62.5%;
  /* de esta forma 1 rem va a ser igual a 10px */
  min-height: 100vh;
}

a:link 
{ 
 text-decoration:none; 
} 



body {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */

  justify-content: space-between;
  min-height: 100vh;
}

main {
  background-color: var(--white);
  
 }



/* header */

.main-header_topnav {
  position: relative;
    background-color: var(--black);
    padding: 4px;
    font-weight: bold;
  }
  
  .main-header_topnav li a{
    color: var(--white);
    padding: 3px 10px 3px 10px;
    text-decoration: none;
      }
  
  .main-header_topnav li a:hover {
    color: var(--soft-highlighted);
    }
  
  .main-header_topnav ul {
    display: flex;
    position:relative;
    left: 80%; 
    justify-content: right;
    width: 20%;
    list-style: none;
    padding-right: 4px;
    top: 1px;
    font-size: 1.3em;
  }



  

.main-header__top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  background-color: var(--dark-gray);
 }

.main-header_logo {
  /* display: flex; */
  width: 20%;
  min-width: 200px;
}

.main-header_logo img {
  width: 100%;
  padding-top: 4px;
  
}


.main-header__top h1 {
  font-size: 3.2rem;
}




.main-header form {
  display: flex;
  justify-content: center;
}


.main-header form button {
  width: 2rem;
} 

.main-header_menu {
  
  background-color: var(--dark-gray);
}

.main-header_menu nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 320px;
}

.main-header_menu li {
  display:inline-block;
  padding:5px 5px;
  text-align:center;
  color: var(--white);
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  }


.main-header_menu li:hover {
  color: var(--soft-highlighted);
 }

.header__img-user {
  width: 25px;
}


 @media (min-width: 577px) {
  .main-header__top {
    padding-bottom: 4px;
    /* background: linear-gradient(180deg, rgba(50,136,138,1) 97%, rgba(162,204,204,1) 100%); */
  }


  .main-header_menu nav ul {
    width: 100%;
  }

  .main-header_menu li {
    padding:5px 10px;
    }
 }



 @media (min-width: 1024px) {
  .main-header__top {
    
    
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(180deg, rgba(50,136,138,1) 95%, rgba(162,204,204,1) 100%); */
   }

   /* .main-header_logo img {
    padding: 10px 0;
  } */
}
















/* Main */


/* buscador */

.main-header_search {
  padding: 5px;
  font-size: 1.4rem;
  
  background-color: var(--medium-gray);
  
  display: flex;
  justify-content: center;
}

.main-header_search form {
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.main-header_search input, 
.main-header_search button, 
.main-header_search select {
  border: none;
  padding-left: 5px;
}

.main-header_search select {
  /* width: 130px; */
  text-align: center;

  border-radius: 8px 0px 0px 8px;
}

.main-header_search input {
  flex-grow: 1;
}

.main-header_search button {
  border-radius: 0px 8px 8px 0px;
  color: var(--white);
  background-color: var(--highlighted);
  font-size: 1.4em;
}

.main-header_search button:hover {
background-color: var(--soft-highlighted);
color: var(--light-gray)
}


@media (min-width: 424px) {
  .main-header_search {
    padding: 5px;
    font-size: 2rem;
    
  }
  .main-header_search form {
    max-width: 540px;
    
  }
}







/* productos */


.main_productscontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* align-content: space-around; */
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(162,204,204,1)0%, rgba(243,255,255,0) 0.2%);
 }

.main_productoverview {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 3px 3px 5px 1px var(--medium-gray);
  margin: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.main_productoverview a{
  display: flex;
  flex-direction: column;
}

.main_productoverview h3 {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--highlighted);
  text-align: left;
  padding-left: 10px;
}

.main_productoverview img{
width: 90%;
height: 250px;
object-fit: cover; 
padding: 20px;
align-self: center;
-webkit-transition: all 1s ease; /* Safari y Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}



.main_productoverview:hover img {
/* zoom de 10% */
-webkit-transform:scale(1.1); /* Safari y Chrome */
-moz-transform:scale(1.1); /* Firefox */
-ms-transform:scale(1.1); /* Internet Explorer 9 */
-o-transform:scale(1.1); /* Opera */
transform:scale(1.1);
}

.main_productoverview button {
  background-color: var(--highlighted);
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--white);
  border-radius: 0px 0px 8px 8px;
}

.main_productoverview button:hover {
  font-weight: bold;
}

.main_productprice h2{
  padding-left: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}





@media (min-width: 577px) {
  .main_productoverview {
    width: 40%;
  }
 }



 @media (min-width: 1024px) {
  .main_productoverview {
    width: 22%;
  }
}













/* product-detail */

.product-detail-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.product-detail {
  display: flex;
  flex-shrink: 4;
  width: 20%;
  padding: 16px;
}
.product-detail-image {
  display: flex;
  width: 40%;
  max-height: 500px;
  padding: 16px;
}

.product-detail__name {
  font-size: 2rem;
  align-self: center;
}

.product-detail__img img {
  width: 100%;
  
}


.info__price {
  display: flex;

  font-weight: bold;
  font-size: 1.6rem;

  color: var(--highlighted);
}
.price__number {
  margin-right: 10px;
}

.info__text {
  font-size: 1.6rem;
  margin-bottom: 16px;
}

.buying-option {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
}

.buying-option__edit-link {
  margin: 10px 0
}

.buying-option__button {
  padding: 8px;

  border: none;
  border-radius: 5px;
  background-color: var(--highlighted);
  color: var(--white);

  font-weight: bold;
  cursor: pointer;
}


@media (min-width: 339px) {
  .buying-option {
    flex-direction: column;
  }

  .buying-option__button {
    max-width: 100px;
    align-self: center;
    margin-top: 10px;
    padding: 10px;
  }

 }


 @media (min-width: 577px) {
  .product-detail {
    width: 30%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 24px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 3px 3px 5px 1px var(--dark-gray);
    border-radius: 5px;
    max-width: 570px;
  }
  .product-detail-image {
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 24px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 3px 3px 5px 1px var(--dark-gray);
    border-radius: 5px;
    max-width: 570px;
  }

  .product-detail__img img {
    max-width: 506px;
  }
 }

 @media (min-width: 992px) {
  .product-detail-image {
    max-width: 900px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product-detail {
    max-width: 900px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-detail__name {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }

  .product-detail__img {
    width: 50%;
  }

  .product-detail__info {
    width: 50%;
  }
  .info__price {
    font-size: 2rem;
    margin-bottom: 16px;
  }

  .buying-option {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .buying-option__button {
    margin: 0;
    font-size: 2.4rem;
    max-width: none;
  }
 }



/* Footer */



footer {
  background-color: var(--dark-gray);
  
  

  width: 100%;
  /* margin-top: 40px; */
}


.main-footer_wink {
  
  text-align: center;
  color: white;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-footer_wink i{
 color:red; 
}












/* user profile */

.user-profile {
  align-items: center;
}

.user-profile-img {
  max-width: 250px;
  text-align: center;
}

.user-info {
  font-size: 1.6rem;
  margin: 4px 0;
}

.user-edit-button {
  margin-top: 20px;
}



/* Validaciones de errores */

div .is-valid {
border: 2px solid var(--highlighted) !important;
}

div .is-invalid {
border: 2px solid var(--danger) !important;
}



/* home */


.home {

  height: 100vh;
  background-image: url('../img/site/fondo-mimbre1e.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}

.efecto-degrade {
  /* background: linear-gradient(180deg, var(--medium-gray) 1%, transparent 70%); */
  /* background: radial-gradient(circle, rgba(50,136,138,1) 12%, transparent 100%); */
  height: 100%;
}



.home__sec1 {
  display: flex;
  justify-content:center;
  align-items: center;

  height: 50%;

}

.home-button-wrapper-a {
  display: inline-block;
  height: 100%;
  width: 50%;
}
.home__buttons-container {
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.home__buttons-container:hover {
  /* background: linear-gradient(180deg, var(--soft-highlighted) 0.1%, transparent 99%); */
  background: radial-gradient(circle, var(--soft-highlighted) 1%, transparent 100%);
  filter:alpha(opacity=70);
}


.home__button {
  align-content: center;
  margin: 0 auto;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: var(--highlighted);
  color: var(--white);

  font-size: 2rem;
  font-weight: bold;

  cursor: pointer;
}

.home-subtitle {
  background: radial-gradient(circle, var(--soft-highlighted) 1%, transparent 100%);
}

.home__sec2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  padding-bottom: 40px;

  /* height: 50%; */
}

.home__img-container-a {
  width: 40%;
  background: radial-gradient(circle, var(--soft-highlighted) 1%, transparent 100%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;
}

.home__img-container {
  margin: 4px 0;
}

.home__img-container img{
  width: 90px;
  height: 90px;
  border-radius: 5px;
}

@media (min-width: 421px) {

  .home__img-container img{
    width: 110px;
    height: 110px;
  }

}

@media (min-width: 577px) {
  .home__button {
    font-size: 4rem;
    padding: 16px;
  }
  /* .home__img-container img{
    width: 120px;
    height: 120px;
  } */
  .home__sec2 {
    flex-wrap: nowrap;
  }

}

@media (min-width: 750px) {
  .home__img-container img{
    width: 140px;
    height: 140px;
  }

}

@media (min-width: 992px) {
  .home__img-container img{
    width: 200px;
    height: 200px;
  }

}





/* Error 404 */

.error404 {
color:red;
font-size: 15rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
}

/* 

font awesom creditos

*/