<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %> 

    <main>
        <section class="main_productscontainer">
            <a  href="/product">
                <article class="main_productoverview">
                <img src="img/products/molde-silicona-indiv-red-x6.jpg" alt="Imagen de producto ejemplo">
                <h3>Moldes silicona</h3>
                <div class="main_productprice">
                    <h2>$850,00</h2>
                </div>
                <button>AGREGAR AL CARRITO</button>
            </article>
            </a>

            <article class="main_productoverview">
                <img src="img/products/cactus.jpg" alt="Imagen de producto ejemplo">
                <h3>Adorno cactus</h3>
                <div class="main_productprice">
                    <h2>$550,00</h2>
                </div>
                <button>AGREGAR AL CARRITO</button>
            </article>

            <article class="main_productoverview">
                <img src="img/products/bowl-vidrio-grande-rosa-23x12cm.jpg" alt="Imagen de producto ejemplo">
                <h3>Moldes silicona</h3>
                <div class="main_productprice">
                    <h2>$250,00</h2>
                </div>
                <button>AGREGAR AL CARRITO</button>
            </article>

            <article class="main_productoverview">
                <img src="img/products/paragua-largo-liso.jpg" alt="Imagen de producto ejemplo">
                <h3>Paragua negra</h3>
                <div class="main_productprice">
                    <h2>$1250,00</h2>
                </div>
                <button>AGREGAR AL CARRITO</button>
            </article>

            <article class="main_productoverview">
                <img src="img/products/manzana-simil-marmol-75cm.jpg" alt="Imagen de producto ejemplo">
                <h3>Manzana marmol</h3>
                <div class="main_productprice">
                    <h2>$2850,00</h2>
                </div>
                <button>AGREGAR AL CARRITO</button>
            </article>

            <article class="main_productoverview">
                <img src="img/products/sombrero-tango-tipo-lino.jpg" alt="Imagen de producto ejemplo">
                <h3>Sombrero tango</h3>
                <div class="main_productprice">
                    <h2>$650,00</h2>
                </div>
                <button>AGREGAR AL CARRITO</button>
            </article>

            <article class="main_productoverview">
                <img src="img/products/pinza-multiuso-cxgoma-30-cm.jpg" alt="Imagen de producto ejemplo">
                <h3>Pinza multiuso</h3>
                <div class="main_productprice">
                    <h2>$280,00</h2>
                </div>
                <button>AGREGAR AL CARRITO</button>
            </article>

            <article class="main_productoverview">
                <img src="img/products/planta-oro-chica.jpg" alt="Imagen de producto ejemplo">
                <h3>Panta dorada</h3>
                <div class="main_productprice">
                    <h2>$2999,00</h2>
                </div>
                <button>AGREGAR AL CARRITO</button>
            </article>
            
        </section>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>