<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/cart-styles.css">
    <title>Trinkets-register</title>
</head> -->
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    
    <main>
        <div class="form-container">
            <h2 class="main-title-form">Carrito</h2>

            <form class="main-cart-form" action="POST" >
                <div class="form cart-form">
                    <div class="cart-productContainer">
    
                                
                        <label for="product1"class="input-label cart-label">

                            <div class="cart__imgycheck">
                                <input type="checkbox" id="product1" value="product1" class="cart-input-checkbox">  

                            <img src="/img/products/sombrero-tango-tipo-lino.jpg" alt="imagen de producto">
                            </div>

                            <div class="cart-productDescription">
                                <h3>Nombre de producto</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ullam delectus magnam natus iusto harum dolorem ipsum.</p>
                            </div>
                            

                            <div class="price-number-button-container">
                                <div class="cart-productPrice">
                                    <h4 class="main-title-price">Precio</h4> 
                                    <p>$444</p>
                                </div>
                                
                                <button type="reset" class="secondary-button eliminate-button cart-eliminate-button">Eliminar</button>
                            </div>

                        </label>
                             
                    </div>


                    <div class="cart-productContainer">
    
                                
                        <label for="product2"class="input-label cart-label">

                            <div class="cart__imgycheck">
                                <input type="checkbox" id="product2" value="product2" class="cart-input-checkbox">  

                            <img src="/img/products/sombrero-tango-tipo-lino.jpg" alt="imagen de producto">
                            </div>

                            <div class="cart-productDescription">
                                <h3>Nombre de producto</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ullam delectus magnam natus iusto harum dolorem ipsum.</p>
                            </div>
                            

                            <div class="price-number-button-container">
                                <div class="cart-productPrice">
                                    <h4 class="main-title-price">Precio</h4> 
                                    <p>$444</p>
                                </div>
                                
                                <button type="reset" class="secondary-button eliminate-button cart-eliminate-button">Eliminar</button>
                            </div>

                        </label>
                             
                    </div>

                    <div class="cart-productContainer">
    
                                
                        <label for="product3"class="input-label cart-label">

                            <div class="cart__imgycheck">
                                <input type="checkbox" id="product3" value="product3" class="cart-input-checkbox">  

                            <img src="/img/products/sombrero-tango-tipo-lino.jpg" alt="imagen de producto">
                            </div>

                            <div class="cart-productDescription">
                                <h3>Nombre de producto</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ullam delectus magnam natus iusto harum dolorem ipsum.</p>
                            </div>
                            

                            <div class="price-number-button-container">
                                <div class="cart-productPrice">
                                    <h4 class="main-title-price">Precio</h4> 
                                    <p>$444</p>
                                </div>
                                
                                <button type="reset" class="secondary-button eliminate-button cart-eliminate-button">Eliminar</button>
                            </div>

                        </label>
                             
                    </div>

                    <div class="cart-productContainer">
    
                                
                        <label for="product4"class="input-label cart-label">

                            <div class="cart__imgycheck">
                                <input type="checkbox" id="product4" value="product4" class="cart-input-checkbox">  

                            <img src="/img/products/sombrero-tango-tipo-lino.jpg" alt="imagen de producto">
                            </div>

                            <div class="cart-productDescription">
                                <h3>Nombre de producto</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ullam delectus magnam natus iusto harum dolorem ipsum.</p>
                            </div>
                            

                            <div class="price-number-button-container">
                                <div class="cart-productPrice">
                                    <h4 class="main-title-price">Precio</h4> 
                                    <p>$444</p>
                                </div>
                                
                                <button type="reset" class="secondary-button eliminate-button cart-eliminate-button">Eliminar</button>
                            </div>

                        </label>
                             
                    </div>

                </div>
                    
                    

                    
                <button type="submit" class="main-button cart-main-button">Comprar</button>   
            </form>  
       
        </div>


    </main>
    <%- include('../partials/footer') %> 
</body>
</html>