<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %> 
  <main>
    <form class="product__upload-form form-container" action="/product/create" enctype="multipart/form-data" method="POST">
      <h2 class="main-title-form">Carga tu producto!</h2>
      <div class="upload-form__input">
        <label for="name">Nombre</label>
        <input type="text" placeholder="Nombre del producto..." name="name" id="name">
        <p class="input-error" id="printError-productName"></p> 
      </div>
      <div class="upload-form__input">
        <label for="category">Categoría</label>
        <select name="category" id="category">
          <option value="1">Coleccionables</option>
          <option value="2">Artesanias</option>
          <option value="3">Arte</option>
      </select>
      </div>
      <div class="upload-form__input">
        <label for="size">Tamaño</label>
        <select name="size" id="size">
          <option value="1">Mini</option>
          <option value="2">Pequeño</option>
          <option value="3">Mediano</option>
          <option value="4">Grande</option>
          <option value="5">Gigante</option>
      </select>
      </div>
      <div class="upload-form__input">
        <label for="price">Precio</label>
        <input type="number" placeholder="Precio del producto..." name="price" id="price">
        <p class="input-error" id="printError-productPrice"></p> 
      </div>
      <div class="upload-form__input">
        <label for="image">Imágenes</label>
        <input type="file" name="image" id="image" accept="image/*" multiple required>
        <p class="input-error" id="printError-productImage"></p>
      </div>
      <div class="upload-form__input">
        <label for="description">Descripción</label>
        <textarea type="text" placeholder="Descripción del producto..." name="description" id="description"></textarea>
        <p class="input-error" id="printError-productDescription"></p>
      </div>
      <div >
        <input class="upload-form__button upload-form__input" type="submit" value="Cargar producto">
      </div>



    </form>
  </main>

  <%- include('../partials/footer') %> 
  <script src="/js/productCreateValidacion.js"></script>
</body>
</html>