<header>
  <div class="main-header_topnav">
      <nav>
          <ul>
              <li><a href="/user/register">Registrarse</a> </li>
              <li><a href="/user/login">Login</a></li>
          </ul>
      </nav>
  </div>

  <div class="main-header">
      <section class="main-header__top">
          <div class="main-header_logo">
              <img src="/img/logo/trinKets - logo reves sin baseline.png" alt="Logo - trinKets">
          </div>
          <div class="main-header_menu">
              <nav>
                  <ul>
                      <li>Mas buscados</li>
                      <li>Ofertas</li>
                      <li>Subastas</li>
                      <li>Coleccionables</li>
                      <a href="/product/cart"><li><i class="fas fa-suitcase"></i></li></a>
                  </ul>

              </nav>

      </section>


      <div class="main-header_search">
          <form action="">
              <select name="" id="">
                  <option value="">Todos</option>
                  <option value="">Coleccionables</option>
                  <option value="">Artesanias</option>
                  <option value="">De interior</option>
                  <option value="">De jardin</option>
                  <option value="">Arte</option>
              </select>
              <input type="text" placeholder="Buscar...">
              <button type="submit"> <i class="fas fa-search"></i> </button>
          </form>
      </div>


  </div>
</header>