<header>

  <div class="main-header">
      <section class="main-header__top">
          <div class="main-header_logo">
            <a href=<%=locals.isLogged?"/product/list": "/"%>><img src="/img/logo/trinKets - logo tras sin baseline.png" alt="Logo - trinKets"> </a>
          </div>  
          
          <% if (locals.isLogged) { %>
            <div class="main-header_menu">
                <nav>
                    <ul>
                        <a href="/user/dashboard"><li>Dashboard</li></a>
                        <a href="/product/list"><li>Productos - lista</li></a>
                        <a href="/product/create"><li>Productos - crear</li></a>
                        <a href="/product/cart"><li>Carrito<i class="fas fa-shopping-cart"></i></li></a>
                        <a href="/user/logout"><li>Logout</li></a>
                        <a href="/user/profile"><li>Usuario</li><img class="header__img-user" src="/img/users/<%= locals.userLogged.imgUser %>" alt="img de usuario"></a>
                    </ul>
                </nav>
            </div>
          <% } else {%>
            <div class="main-header_menu">
              <nav>
                  <ul>
                      <!-- <a href="/product/list"><li>Productos - lista</li></a> -->
                      <a href="/user/register"><li>Registrarse</li></a> 
                      <a href="/user/login"><li>Login</li></a>
                  </ul>
              </nav>
            </div>
        <% } %> 

           
      </section>
  </div>
</header>