<header>

  <div class="main-header">
      <section class="main-header__top">
          <div class="main-header_logo">
             <a href="/"> <img src="/img/logo/trinKets - logo tras sin baseline.png" alt="Logo - trinKets"></a>
          </div>          
          <div class="main-header_menu">
              <nav>
                  <ul>
                    <a href="/product/list"><li>Usuario</li></a>
                    <a href="/product/list"><li>Productos - lista</li></a>
                    <li>Ofertas</li>
                    <li>Coleccionables</li>
                    <a href="/product/cart"><li>Carrito<i class="fas fa-shopping-cart"></i>
                    </li></a>
                  </ul>
              </nav>
            </div>
      </section>
  </div>
</header>