<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <main class="home">
        <div class="efecto-degrade">
            <section class="home__sec1">
                <div class="home__buttons-container"><button class="home__button">Registrarse</button></div>
                <div class="home__buttons-container"><button class="home__button">Login</button></div>    
                    
            </section>
        </div>
    </main>

    <%- include('../partials/footer') %> 
</body>

</html>