<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %> 

<body>
    <%- include('../partials/header') %> 

    <main class="landing-main">
      
        <section class="landing-menu">
          <article class="landing-menu__option">
            <a href="">
              <h2 class="landing-menu-option__title">Login</h2>
              <p class="landing-menu-option__subtitle"></p>
            </a>
          </article>
          <article class="landing-menu__option">
            <a href="">
              <h2 class="landing-menu-option__title">Acerca del proyecto</h2>
              <p class="landing-menu-option__subtitle"></p>
            </a>
          </article>
          <article class="landing-menu__option">
            <a href="">
              <h2 class="landing-menu-option__title">Comunidad</h2>
              <p class="landing-menu-option__subtitle"></p>
            </a>
          </article>
          <article class="landing-menu__option">
            <a href="">
              <h2 class="landing-menu-option__title">Mirar productos</h2>
              <p class="landing-menu-option__subtitle"></p>
            </a>
          </article>
        </section>
    </main>

    <%- include('../partials/footer') %> 
</body>

</html>