<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login-styles.css">
    <title>Trinkets-login</title>
</head> -->
<%- include('../partials/head') %> 
<body>

    <%- include('../partials/header') %> 
    
    <main>
        <div class="form-container">
            <h2 class="main-title-form">Ingresá tu mail y contraseña</h2>
            <form method="POST" action='/user/login' class="form">
                <div class="form-input">
                    <label for="email" class="input-label">Email</label>
                    <input type="email" id="email" name="email" placeholder="example@trinkets.com" class="input input-email">
                    <% if(errors.email) {%>
                        <p><%= errors.email.msg %> </p>
                    <% } %>    
                </div>


                <div class="form-input">
                    <label for="password" class="input-label">Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="********" class="input input-password" minlength="8" maxlength="24">                    
                </div>


                <button type="submit" class="main-button">Entrar</button>
                <a href="">¿Olvidaste tu contraseña?</a>
            </form>            
        </div>


    </main>
    <%- include('../partials/footer') %> 
</body>
</html>